/* 盒模型采用 border-box */
/* // * {
//  box-sizing: border-box;
// } */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* 设置默认字体 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

img {
  border: 0
}

strong,
th {
  font-style: normal;
  font-weight: normal
}

ol,
ul {
  list-style: none
}

th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
}

:focus {
  outline: 0;
}


/** */

/*body {
  font: 12px/1.5 "Microsoft YaHei", tahoma, "\5b8b\4f53", sans-serif;
}
*/

/** 辅助样式 */

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.clearfix {}

#ifr {
  display: none;
}
