/* ******************* 自定义变量 ******************* */
// $primary-color:#39597e; 	//通用色1
// $primary-hover-color:#5d76f7;
// $success-color:#88C122; 	//通用色2
// $success-hover-color:#77AE3B;
// $nav-color:#EAEEF1;

// $font-color:#606266; 	//通用字体色
// $font-light-color:#fff; //通用字体反色

// $font-disable-color: #c8c8c8; 

// $label-color:#646464; 	//标签字体色
/* ******************* 自定义变量 end *************** */


/* ******************* 自定义变量 ******************* */
$primary-color:#39597e; 	//通用色1
$primary-hover-color:#5d76f7;
$success-color:#88C122; 	//通用色2
$success-hover-color:#77AE3B;
$nav-color:#EAEEF1;

$font-color:#606266; 	//通用字体色
$font-light-color:#fff; //通用字体反色

$font-disable-color: #c8c8c8; 

$label-color:#646464; 	//标签字体色
$title-color: #646464;  //诉讼小标题颜色
$remove-icon-color: red; //删除图标颜色
$add-icon-color: #5d76f7; //新增小图标颜色
$check-color: red; //校验框颜色
/* ******************* 自定义变量 end *************** */